<div class="container-fluid">
  <div class="row ">
    <div class="claim-header text-center">
      <%= I18n.t("app.claims") %>
    </div>
    <div class="col-md-2">
      <%= render 'shared/claim_filter' %>
    </div>
    <div class="claims-list">
      <%= render 'shared/claims' %>
    </div>
  </div>
</div>
