<div class="container-fluid">
  <div class="row">
    <div class="hero-image lawyer-coverpic">
      <%= image_tag "lawyer_pic.jpg", alt: "Lawyer Image", class: "avatar" %>
      <div class="field">
        <%= f.label :profile_image, class: "browse-btn" do %>
          <span class="glyphicon glyphicon-edit browse-icon"></span>
        <% end %>
        <%= f.file_field  :profile_image, class: "hide" %>

      </div>
    </div>
  </div>
</div>
