<div class="container text-center">
  <div class="lawyer_heading">
    <%= image_tag "start_up", alt: "Business Image", class: "img-rounded align-profile-img" %>
    <div class="lawyer-email align-detail-row">
      <%= @business.user_name.titleize %>
    </div>
  </div>
  <div class="complete-profile-sprtn-line"></div>
  <%= render 'shared/detail', {user: @business} %>
  <div class="complete-profile-sprtn-line"></div>
 
</div>
