<div class="container-fluid">
  <div class="row ">
    <div class="claim-header text-center">
      <%= I18n.t("app.legal_professionals") %>
    </div>
    <div class="col-md-2">
      <%= render 'shared/lawyer_filter' %>
    </div>
    <div class="lawyer-list">
      <%= render 'shared/lawyers' %>
    </div>
  </div>
</div>
