.app-icon{
  width:35px;
  margin: -6px 0px;
}

.app-name{
  color: #4A0000 !important;
  font-weight: bold;
  font-size: 20px;
}

.align-nav{
  align-self: right !important;
}
.login-btn{
  color: #4A0000 !important;
  border-color: #4A0000 !important;
}

.welcm-msg{
  color: #4A0000 !important;
  font-weight: bold;
  font-size: 70px;
  border-bottom: 0.2px solid #4A0000;
}

.align-data{
  margin: 18px 20px 20px 20px;
}

.align-logo-img{
  margin: 60px 0px 20px 0px;
}

.login-form-heading{
  color: #4A0000;
}

.or-line span {
  width: 15px;
  height: 18px;
  font-size: 16px;
  color: #7d7d7d;
  line-height: 15px;
  margin: 10px 0px;
}

.facebook-logo{
  width: 100%;
  height: 60px;
  margin: 10px 0px;
}


.align-field{
  margin: 25px 0px;
  height: 60px !important;
}


.agree-to-use{
  color: black;
  font-size: 15px;
  margin: 0px 0px 20px 0px;
  float: left;
  color: #4A0000;
}


.submit-btn{
  width: 100%;
  height: 40px;
  background-color: #4A0000;
  color: white;
  font-weight: bold;
}

.req-text {
  color: #b0b0b0;
  font-size: 13px;
  margin: -10px 0 10px 0px;
  font-style: italic;
  width: 100%;
  text-align: left;
  float: left !important;
}
.custom-logo{
  height: 320px;
  width: 320px;
  border-style: solid;
  border-width: 3px;
  border-color: whitesmoke;
  margin: 50px 13px;
}
.error{
  color: red  !important;
  font-size: 15px !important;
  float: left;
  margin: 1px 0px 10px 0px;
}

.instruction_msg{
  color: #4A0000 !important;
  font-weight: bold;
  font-size: 70px;
}

.welcome_user_msg{
  margin: 70px 0px;
  color: #4A0000 !important;
  font-weight: bold;
  font-size: 70px;
  border-bottom: 0.2px solid #4A0000;
}

.align-login{
  margin: 50px 0px;
}

.login-frm-hdr{
  color: #4A0000;
  font-size: 35px;
  margin: 10px 0px !important;
  outline: 0.1px solid #4A0000;
  padding: 20px 0px;
}

.login-logo{
  height: 70px;
  width: 70px;
  margin: 10px 0px;
}

.dont-have-account{
  color: black;
  margin: 20px 0px;
  font-size: 15px;
}

.form-submit{
  width: 100%;
  height: 50px;
  background-color: #660000;
  color: white;
  margin: 0px 0px 10px 0px;
}

.login-div{
  border: 0.1px solid darkgrey;
  margin: 10px 0px;
}

.align-info{
  margin: 30px 5px;
  border-bottom: 0.2px solid #4A0000;
}

.info-box{
  border: 0.1px solid darkgrey;
}

.info-username{
  color: #660000 !important;
  font-size: 20px;
  font-family: sans-serif;
}

.search-bar {
    position: relative;
    right: 0;
    left: auto;
    float: left;
    z-index: 1002;
}

.align-profile-pic{
  height: 140px;
  width:  140px;
  border: 2px solid #660000;
  border-radius: 4px;
  margin: 30px 0px;
}



.profile-label .status {
  margin-top: 25px;
  padding-top: 20px;
  display: flex; display: -ms-flexbox;
  justify-content: center; -ms-flex-pack: center;
  border-top: 1px solid rgba(265,265,265,0.25);
  width: 100%;
}
.profile-label .status .set {
  display: block;
  padding: 0 10px;
  position: relative;
  width: 50%;
}

.name-t {
    border-top: 1px solid rgba(0,0,0,0.17);
    display: block;
    padding: 6px 0 0;
    margin-top: 6px;
    font-size: 14px;
}

.align-count-info{
  display: table-cell;
  border-right:  1px solid #660000;
}


.extra-info{
  border-bottom: 1px solid #660000;
  display: table;
  width: 100%;
  padding: 10px;
  margin: 0px 0px 30px 0px;
}

.count-txt{
  font-size: 15px;
  font-weight: initial;
  border-top: 1px solid #660000;
  margin: 20px 0px
}

.align-followed-info{
  display: table-cell;
}

.count-info{
  font-weight: bold;
  font-size: 20px;
}
.feed-heading{
  margin: 20px 0px;
  font-weight: bold;
  font-size: 40px;
  color: #660000;
  border-bottom: 1px solid #660000;
}

.display-pic{
  height: 320px;
  width:  100%;
  margin: 5px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}

.img-box{
  margin: 20px 10px;
  border: 1px solid black;
}

.image-user{
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 10px;
  color: #660000;
}


.img-location{
  float: right;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 10px;
  color: #660000;
}


.like-comment-count{
  font-size: 15px;
  font-weight: bold;
  color: #660000;
}

.like-count-msg{
  margin: 0px 20px;
}


.caption-txt{
  border-bottom: 1px solid black;
}



.display-pic:hover {
  opacity: 0.7;
}



@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.load_more-btn{
  width: 100%;
  background-color: #660000 !important;
  color: white !important;
  margin-bottom: 20px !important;
}


.navbar-footer-link, .navbar-default .navbar-nav>li>a {
  color: #4A0000 !important;
  font-size: 15px !important;
}

.app-name{
  color: #4A0000 !important;
  font-weight: bold;
}

.vl {
  border-left: 1px solid #4A0000;
  height: 50px;
}
.tag-line{
  color: #4A0000;
  font-weight: bold;
  font-size: 40px;
  margin: 20px 0px;
}
.align-welcm-btn{
  background-color: #4A0000 !important;
  border-color: #4A0000 !important;
  width: 25%;
  height: 50px;
  font-size: 22px !important;
}

.para-msg{
  margin: 30px 0px;
  font-size: 30px;
  color: #4A0000 !important;
  font-weight: bold;
}
.footer{
  position: fixed;
  bottom:0;
  width:100%;
  height:60px;
  padding: 1rem;
}
#main-content{
  margin-bottom: 120px;
}

.profile_form{
  margin-top: 30px;
}
.complete-profile-msg{
  font-size: 40px;
  color: #4A0000 !important;
  font-weight: bold;
}
.align-row{
  margin: 50px 100px;
}

.complete-profile-btn{
  width: 40%;
  height: 40px;
  background-color: #4A0000;
  color: white;
  font-weight: bold;
}
.align-text-area{
  margin: 50px 115px;
}
.complete-profile-sprtn-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4A0000;
    margin: 1em 110px;
    padding: 0;
}
.work-exp-btn{
  margin-left: 90px;
  background-color: #4A0000;
  border-color: #4A0000;
  color: white !important;
}
.close{
  color: #4A0000 !important;
  margin-top: -12px !important;
}
.validation-error{
  color: red;
}
.new_user .validation-error{
  float: left;
  margin-top: -20px;
}
.education-btn{
  margin-left: 20px !important;
}
.algin-collectn-area-checkbox{
  margin-top: 20px;
}
.lawyer-email{
  font-size: 20px;
  color: #4A0000;
  font-weight: bold;
}
.user-details{
  margin: 0px 80px;
}
.align-debtor-info{
  margin: 20px 0px;
}
.sprtn-line{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4A0000;
  padding: 0;
  margin: 30px 30px;
}
.pretify_header{
  background-color: #4A0000;
  color: white;
  border: 1px solid #4A0000;
}
.close-btn{
  color: white;
}
.claim-form-btn{
  background-color: #4A0000;
  color: white;
  border: 1px solid #4A0000;
  width: 30%;
  margin: 20px;
}
.claim-description{
  width: 40%;
  text-align: justify-all !important;
  padding: 7px;
  margin-left: 220px;
  font-size: 17px;
  color: #4A0000;
}
.rfp-checkbox{
  margin: 20px 0px !important;
}
.align-msg-body{
  margin: 0px 30px;
  width: 350px !important;
}
.message-btn{
  background-color: #4A0000;
  color: white;
  border: 1px solid #4A0000; 
}
