<div class="container-fluid">
  <div class="row ">
    <div class="claim-header text-center">
      <%= I18n.t("app.my_claims") %>
      <%= link_to I18n.t("app.create_claim"), new_business_claim_url(@business), class: "btn btn-danger create-claim-btn", remote: true %>
    </div>
    <div class="col-md-2">
      <%= render 'shared/claim_filter' %>
    </div>
    <div class="claims-list">
      <%= render 'shared/claims' %>
    </div>
  </div>
</div>
